<!DOCTYPE>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have submitted a new ticket through the TroubleShooter system.</p>
    <br>
    <p>You can view the ticket <a href="<%= @ticket_link %>">here</a>.</p>
  </body>
</html>
