%html
  %body{:style => "margin: 0;mso-line-height-rule: exactly;padding: 0;min-width: 100%;background-color: #fbfbfb;"}
    :css
      body,.wrapper,.emb-editor-canvas{background-color:#fbfbfb}.border{background-color:#e9e9e9}h1{color:#565656}.wrapper h1{}.wrapper h1{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper h1{font-family:Avenir,sans-serif !important}}h1{}.one-col h1{line-height:42px}.two-col h1{line-height:32px}.three-col h1{line-height:26px}.wrapper .one-col-feature h1{line-height:58px}@media only screen and (max-width: 620px){h1{line-height:42px !important}}h2{color:#555}.wrapper h2{}.wrapper h2{font-family:Georgia,serif}h2{}.one-col h2{line-height:32px}.two-col h2{line-height:26px}.three-col h2{line-height:22px}.wrapper .one-col-feature h2{line-height:52px}@media only screen and (max-width: 620px){h2{line-height:32px !important}}h3{color:#555}.wrapper h3{}.wrapper h3{font-family:Georgia,serif}h3{}.one-col h3{line-height:26px}.two-col h3{line-height:22px}.three-col 
      h3{line-height:20px}.wrapper .one-col-feature h3{line-height:42px}@media only screen and (max-width: 620px){h3{line-height:26px !important}}p,ol,ul{color:#565656}.wrapper p,.wrapper ol,.wrapper ul{}.wrapper p,.wrapper ol,.wrapper ul{font-family:Georgia,serif}p,ol,ul{}.one-col p,.one-col ol,.one-col ul{line-height:25px;Margin-bottom:25px}.two-col p,.two-col ol,.two-col ul{line-height:23px;Margin-bottom:23px}.three-col p,.three-col ol,.three-col ul{line-height:21px;Margin-bottom:21px}.wrapper .one-col-feature p,.wrapper .one-col-feature ol,.wrapper .one-col-feature ul{line-height:32px}.one-col-feature blockquote p,.one-col-feature blockquote ol,.one-col-feature blockquote ul{line-height:50px}@media only screen and (max-width: 620px){p,ol,ul{line-height:25px !important;Margin-bottom:25px !important}}.image{color:#565656}.image{font-family:Georgia,serif}.wrapper a{color:#41637e}.wrapper 
      a:hover{color:#30495c !important}.wrapper .logo div{color:#41637e}.wrapper .logo div{font-family:sans-serif}@media only screen and (min-width: 0){.wrapper .logo div{font-family:Avenir,sans-serif !important}}.wrapper .logo div a{color:#41637e}.wrapper .logo div a:hover{color:#41637e !important}.wrapper .one-col-feature p a,.wrapper .one-col-feature ol a,.wrapper .one-col-feature ul a{border-bottom:1px solid #41637e}.wrapper .one-col-feature p a:hover,.wrapper .one-col-feature ol a:hover,.wrapper .one-col-feature ul a:hover{color:#30495c !important;border-bottom:1px solid #30495c !important}.btn a{}.wrapper .btn a{}.wrapper .btn a{font-family:Georgia,serif}.wrapper .btn a{background-color:#41637e;color:#fff !important;outline-color:#41637e;text-shadow:0 1px 0 #3b5971}.wrapper .btn a:hover{background-color:#3b5971 !important;color:#fff !important;outline-color:#3b5971 !important}.preheader 
      .title,.preheader .webversion,.footer .padded{color:#999}.preheader .title,.preheader .webversion,.footer .padded{font-family:Georgia,serif}.preheader .title a,.preheader .webversion a,.footer .padded a{color:#999}.preheader .title a:hover,.preheader .webversion a:hover,.footer .padded a:hover{color:#737373 !important}.footer .social .divider{color:#e9e9e9}.footer .social .social-text,.footer .social a{color:#999}.wrapper .footer .social .social-text,.wrapper .footer .social a{}.wrapper .footer .social .social-text,.wrapper .footer .social a{font-family:Georgia,serif}.footer .social .social-text,.footer .social a{}.footer .social .social-text,.footer .social a{letter-spacing:0.05em}.footer .social .social-text:hover,.footer .social a:hover{color:#737373 !important}.image .border{background-color:#c8c8c8}.image-frame{background-color:#dadada}.image-background{background-color:#f7f7f7}
    %center.wrapper{:style => "display: table;table-layout: fixed;width: 100%;min-width: 620px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;background-color: #fbfbfb"}
      %table.gmail{:style => "border-collapse: collapse;border-spacing: 0;width: 650px;min-width: 650px;"}
        %tbody
          %tr
            %td{:style => "padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;"}  
      %table.preheader.centered{:style => "border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;"}
        %tbody
          %tr
            %td{:style => "padding: 0;vertical-align: top;"}
              %table{:style => "border-collapse: collapse;border-spacing: 0;width: 602px;"}
                %tbody
                  %tr
      %table.header.centered{:style => "border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;width: 602px;"}
        %tbody
          %tr
            %td.border{:style => "padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px;"}  
          %tr
            %td.logo{:style => "padding: 32px 0;vertical-align: top;mso-line-height-rule: at-least"}
              #emb-email-header.logo-center{:align => "center", :style => "font-size: 26px;font-weight: 700;letter-spacing: -0.02em;line-height: 32px;color: #41637e;font-family: sans-serif;text-align: center"}
                %a{:href => "http://mhmr-troubleshootersystem.herokuapp.com", :style => "text-decoration: none;transition: all .2s;color: #41637e"}
                  %img{:alt => "Logo", :height => "107", :src => "http://mhmr-troubleshootersystem.herokuapp.com/assets/mhmr_logo-3540ff3fc3db402e2ab83018ee27b2be.png", :style => "border: 0;-ms-interpolation-mode: bicubic;display: block;margin-left: auto;margin-right: auto;max-width: 221px;", :width => "221"}/
      %table.border{:style => "border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;background-color: #e9e9e9;margin-left: auto;margin-right: auto;", :width => "602"}
        %tbody
          %tr
            %td{:style => "padding: 0;vertical-align: top;"} ​
      %table.centered{:style => "border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;"}
        %tbody
          %tr
            %td.border{:style => "padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px;"} ​
            %td{:style => "padding: 0;vertical-align: top;"}
              %table.one-col{:style => "border-collapse: collapse;border-spacing: 0;margin-left: auto;margin-right: auto;width: 600px;background-color: #ffffff;font-size: 14px;table-layout: fixed;"}
                %tbody
                  %tr
                    %td.column{:style => "padding: 0;vertical-align: top;text-align: left;"}
                      %div
                        .column-top{:style => "font-size: 32px;line-height: 32px"}  
                      %table.contents{:style => "border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;"}
                        %tbody
                          %tr
                            %td.padded{:style => "padding: 0;vertical-align: top;padding-left: 32px;padding-right: 32px;word-break: break-word;word-wrap: break-word;"}
                              %h2{:style => "Margin-top: 0;color: #555;font-style: italic;font-weight: normal;font-size: 26px;line-height: 32px;Margin-bottom: 20px;font-family: Georgia,serif"} Your Ticket Has Been Submitted
                              %p{:style => "Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px"} Your ticket has been submitted through the TroubleShooter System. This is a confirmation email for your own personal records. You can view the status of your ticket at: #{@ticket_link}.


                              %p{:style => "Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 24px"}
                                Ticket information will go here. 
                      .column-bottom{:style => "font-size: 8px;line-height: 8px"}  
            %td.border{:style => "padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px"} ​
      %table.border{:style => "border-collapse: collapse;border-spacing: 0;font-size: 1px;line-height: 1px;background-color: #e9e9e9;Margin-left: auto;Margin-right: auto", :width => "602"}
        %tbody
          %tr
            %td{:style => "padding: 0;vertical-align: top"} ​
      .spacer{:style => "font-size: 1px;line-height: 32px;width: 100%"}  
      %table.footer.centered{:style => "border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 602px"}
        %tbody
          %tr
            %td.social{:align => "center", :style => "padding: 0;vertical-align: top;padding-top: 32px;padding-bottom: 22px"}
          %tr
            %td.border{:style => "padding: 0;vertical-align: top;font-size: 1px;line-height: 1px;background-color: #e9e9e9;width: 1px"}  
          %tr
            %td{:style => "padding: 0;vertical-align: top"}
              %table{:style => "border-collapse: collapse;border-spacing: 0"}
                %tbody
                  %tr
                    %td.address{:style => "padding: 0;vertical-align: top;width: 250px;padding-top: 32px;padding-bottom: 64px"}
                      %table.contents{:style => "border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%"}
                        %tbody
                          %tr
                            %td.padded{:style => "padding: 0;vertical-align: top;padding-left: 0;padding-right: 10px;word-break: break-word;word-wrap: break-word;text-align: left;font-size: 12px;line-height: 20px;color: #999;font-family: Georgia,serif"}
                    %td.subscription{:style => "padding: 0;vertical-align: top;width: 350px;padding-top: 32px;padding-bottom: 64px"}
                      %table.contents{:style => "border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%"}
                        %tbody
                          %tr
                            %td.padded{:style => "padding: 0;vertical-align: top;padding-left: 10px;padding-right: 0;word-break: break-word;word-wrap: break-word;font-size: 12px;line-height: 20px;color: #999;font-family: Georgia,serif;text-align: right"}
                              %div
                                %span.block
                                %span.block
                                  %unsubscribe{:style => "font-weight:bold;text-decoration:none;"} You're receiving this email because you submitted a ticket through our system. Please do not reply to this email. 




