/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require purecss
 *= require_tree .
 */

.page-header{
  background-color: #0066ff;
  height: 150px;
}

.page-title{
  background-color: #cacad4;
  margin-bottom: 30px;
}

.content{
  border: 1px solid #000;
}

.navbar{
  margin-bottom: 30px;
  border: 1px solid #000;
}

#tickets{
  width: 100%;
}

.newticket{
    margin:12px 0;
    float:left;
}

.pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
}

