=content_for(:title, "Edit Location")

.pure-u-1
 = form_tag location_path(@location), :method => :put, :class => "pure-form pure-form-stacked" do
  = label :location, :name, 'Location Name'
  = text_field :location, :name
  = submit_tag 'Save Changes', :class => "pure-button pure-button-primary"
