<h1>Locations#new</h1>
<p>Find me in app/views/Locations/new.html.erb</p>
%h2 Create New Location 

= form_tag locations_path, :method => :post do
 = label :location, :name, 'Location Name'
 = text_field :location, :name
 = submit_tag 'Save Changes'
